@model NoteApp.Models.ListModel
@{
    ViewBag.Title = "AddNotes";
}
<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
<br />

<div class="d-flex justify-content-center">
    @using (Html.BeginForm("AddNotes", "List", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <form>
            <!-- Example single danger button -->
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Add Notes
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" onclick="ShowTextbox();">Add Text</a></li>
                    <li><a class="dropdown-item" onclick="ShowFile();">Add File</a></li>
                </ul>
            </div>
            <div class="mb-3" id="text" style="display:none">
                <textarea class="form-control" id="abc" name="ListDescription" placeholder="Write Something..." rows="08" cols="100"></textarea>
            </div>
            <div class="mb-3" id="file" style="display:none">
                <input type='file' name="file" class="form-control" onchange="readURL(this);" /><br />
                <img id="img" alt="" />
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="vedio"></iframe>
                </div>
            </div>
            <div class="mb-3 ">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    }
</div>

<script>
    $(document).ready(function () {
        console.log("ready!");
        $("img").hide();
        $("iframe").hide();
    });
    function ShowTextbox() {
        $("#text").show();
        $("#file").hide();
    }
    function ShowFile() {
        $("#file").show();
        $("#text").hide();

    }
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            var fileTypes = ['jpg', 'jpeg', 'png'];  //acceptable file types
            var filevedio = ['mp4', 'ever', 'you', 'want'];  //acceptable file types
            var extension = input.files[0].name.split('.').pop().toLowerCase(),  //file extension from input file
                isImages = fileTypes.indexOf(extension) > -1;  //is extension in acceptable types
            isVideos = filevedio.indexOf(extension) > -1;  //is extension in acceptable types
            console.log(extension);
            console.log(isImages);
            console.log(isVideos);
            var reader = new FileReader();
            reader.onload = function (e) {
                if (isImages) {
                    $("img").show();
                    $("iframe").hide();
                    $('#img')
                        .attr('src', e.target.result)
                        .width(280)
                        .height(200);
                    console.log("img uplaoaded");
                }
                else if (isVideos) {
                    $("img").hide();
                    $("iframe").show();
                    $('#vedio')
                        .attr('src', e.target.result)
                        .width(280)
                        .height(200);
                    console.log("vedio uplaoaded");
                }

            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

