@{
    ViewBag.Title = "Index";
}
@*@model NoteApp.Models.ListModel*@
@using NoteApp.Models;
@model ListModel
<br />
<div>
    <select class="form-control" required multiple="multiple" id="tagData" name="Tags" style="width: 82%; max-width: 134%;"></select>
    <button class="btn btn-secondary" onclick="SearchByTags();">Show Notes</button>
    <button class="btn btn-secondary" id="clearbtn" onclick="ClearSearchBar();">Clear Tags</button>
</div>
<hr style=" border: 5px solid green; border-radius: 10px;" />

<button type="button" class="btn btn-secondary" onclick="txtboxShow()">Create List</button>
<br />
<div id="myDIV">
    @using (Html.BeginForm("AddList", "List", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <form>
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Enter List Name", @required = "required" })
            <br />
            <input type="submit" value="Submit" class="btn btn-success">
        </form>
    }
</div>
<hr style=" border: 5px solid green; border-radius: 10px;" />

@{Html.RenderAction("RecentNotes", "List");}
<hr style=" border: 5px solid green; border-radius: 10px;" />
@{Html.RenderAction("GetLists", "List");}

<script>
    $(document).ready(function () {
        $('#myDIV').hide();
        console.log("ready!");
        $("#tagData").select2({
            placeholder: 'Search by Tag...',
            tags: true,
            maximumSelectionLength: 1,
            tokenSeparators: [',', ' ']
        })
    });
    function txtboxShow() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function ClearSearchBar() {
        console.log("Clear Search bar !")
        $('#tagData').val(null).trigger('change');
    }
    function SearchByTags() {
        var tagitem = $('#tagData').val();
        console.log(tagitem);
        window.location.href = "/List/SearchByTags?Tag=" + tagitem;

    }





</script>
