.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.summary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5; /* number of lines to show */
}
